body{
    background-color: #f1f1f1;
    font-family: sans-serif;
}

.header{
    text-align: center;
}

.subtitle-span{
    text-decoration: underline;
}

#button{
    background-color: #28F5BE;
    color: #1f1f24;
    border-radius: 8px;
    padding: 12px 40px;
    border: none;
    box-shadow: none;
    font-weight: bold;
    cursor: pointer;
}

#button:hover{
    transition: all 0.3s;
    cursor: pointer;
    background-color: #7af5d4;
}

/* Método 9 */
#list::after {
    content: " - HELLO WORLD";
}

/* Método 10 */
ul li:last-child::after{
    content: " - HELLO WORLD";
}